@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-figtree), sans-serif;
  background-color: var(--background);
  color: var(--primary-text);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer utilities {
  /* =====  SHADCN OVERRIDES */
  .shad-select-trigger {
    @apply bg-secondary-blue-500 text-white placeholder:text-white border-0 appearance-none focus:ring-0 hover:outline-1 hover:outline hover:outline-secondary-blue-400 focus:outline focus:outline-1 focus:outline-primary-green-700 transition-colors duration-300 ease-in-out !important;
  }

  .shad-select-content {
    @apply bg-secondary-blue-700 border-primary-blue-400 text-white !important;
  }

  .shad-select-item {
    @apply hover:bg-secondary-blue-600 k-transition py-2 cursor-pointer data-[state=checked]:bg-secondary-blue-600 data-[state=checked]:text-primary-green-500 !important;
  }

  .shad-drop-item {
    @apply hover:bg-secondary-blue-400/50 hover:backdrop-blur-md rounded-md k-transition py-2 cursor-pointer data-[state=checked]:bg-secondary-blue-600 data-[state=checked]:text-primary-green-500 !important;
  }

  .shad-otp {
    @apply w-full flex gap-3 justify-between !important;
  }

  .shad-otp-slot {
    @apply justify-center flex text-base font-semibold rounded-[10px] h-[52px] w-full gap-4 text-white bg-secondary-blue-600 border-0 appearance-none 
    hover:outline-secondary-blue-400 hover:outline hover:outline-1 focus:outline focus:outline-primary-green-700 ring-primary-green-700 transition-colors ease-in-out !important;
  }

  /* =====  REACT PHONE NUMBER INPUT OVERRIDES */
  .input-phone {
    @apply w-full rounded-md h-[52px] py-[17px] px-4 text-base text-white bg-secondary-blue-500 border-0 appearance-none focus:outline-none focus:ring-0 !important;
  }

  /* .PhoneInputCountrySelect{
    @apply flex items-center border border-secondary-blue-400 rounded-md h-14;
    }

    .PhoneInputCountrySelect select {
      @apply bg-secondary-blue-700 text-white rounded-md;
    }

    .PhoneInputCountrySelect option {
      @apply bg-primary-blue-700 h-8 hover:bg-primary-green-600 text-white;
    } */

  .k-input {
    @apply w-full h-[52px] rounded-md text-sm font-semibold text-white border-0 transition-["outline"] appearance-none 
           hover:outline-secondary-blue-400 hover:outline-1 shadow-none !ring-0 hover:outline
           focus:outline focus:outline-1 focus:outline-primary-green-700  focus-visible:outline-offset-1 focus:border-0 outline-transparent
           ease-in-out disabled:cursor-not-allowed disabled:opacity-50 resize-none overflow-hidden !important;
  }

  .k-transition {
    @apply transition-all duration-400;
  }

  .container {
    @apply max-w-[2050px] mx-auto px-8;
  }

  .checkbox-label {
    @apply cursor-pointer text-sm font-normal text-white peer-disabled:cursor-not-allowed peer-disabled:opacity-70 md:leading-none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* slider style */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.3);
  border-radius: 3px;
}

/* =====  REACT PHONE NUMBER INPUT OVERRIDES */
.PhoneInputInput {
  outline: none;
  background: transparent;
  font-size: 14px;
  height: fit-content;
  font-weight: 500;
}

.input-phone:hover {
  outline: 1px solid #53555b;
}

.input-phone:focus-within {
  outline: 1px solid #96af01;
}

/* =====  DATE_PICKER OVERRIDES */
.selected-date {
  background-color: #d3f702;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== TIPTAP RICH-TEXT-EDITOR ===== */
.prose mark {
  @apply bg-yellow-200 rounded px-1;
}

.prose pre {
  @apply bg-black text-white rounded-lg p-4 font-mono;
}

.prose pre code {
  @apply bg-transparent p-0 text-white;
}

/* charts */
/* .k-chart{
  max-height: 235px !important;
  .recharts-wrapper{
    max-height: 235px !important;
    max-width: 500px !important;
  }
}  */
