@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-figtree), sans-serif;
  background-color: var(--background);
  color: var(--primary-text);
}

svg {
  width: auto !important;
  height: auto !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    /* background */
    --background: #11141c;
    /* text */
    --text-primary: #ffffff;
    --text-secondary: #e7e8e8;
    --text-link: #90a8ed;
    /* button */
    --btn-primary-bg: #d3f702;
    --btn-primary-text: #11141c;
    /* input */
    --input-label-color: #b5b6b9;
    --input-bg: #24272e;
    /* chips */
    --chip-primary-bg: #f1fdb1;
    --chip-success-border: #22a311;
    --chip-success-bg: #22a3111a;
    --chip-danger-border: #d72f4d;
    --chip-danger-bg: #d72f4d1a;
    --chip-warning-border: #bf7a28;
    --chip-warning-bg: #d2862c1a;
    /* tabs */
    --tab-primary-text: #9c9da1;
    --tab-primary-text-active: #f1fdb1;
    --tab-secondary-bg-active: #1c1f24;
    /* breadcrumb */
    --breadcrumb-text: #929397;
    /* card */
    --card-primary-bg: #282b32;
    --card-secondary-bg: #414349;
    /* table */
    --table-border-color: #606267;
    --table-box-shadow: 6px -8px 14px 0px #00000024;
    /* border width*/
    --border-width-100: 1px;
    --border-width-200: 2px;
    --border-width-300: 3px;
    /* border radius */
    --border-small: 6px;
    --border-normal: 8px;

    /* colors */
    /* gray */
    --gray-500: #747578;
    /* green */
    --green-700: #96af01;
    --green-450: #ebfb8b;
    --green-400: #f7ff93;
  }
}

@layer utilities {
  /* =====  SHADCN OVERRIDES */
  .shad-select-trigger {
    @apply bg-secondary-blue-500 text-white placeholder:text-white h-14 border-0 appearance-none focus:ring-0 hover:outline hover:outline-secondary-blue-400 focus:outline focus:outline-primary-green-700 transition-colors duration-300 ease-in-out !important;
  }

  .shad-select-content {
    @apply bg-secondary-blue-700 border-primary-blue-400 text-white !important;
  }

  .shad-select-item {
    @apply hover:bg-secondary-blue-600 k-transition py-2 cursor-pointer data-[state=checked]:bg-secondary-blue-600 data-[state=checked]:text-primary-green-500 !important;
  }

  /* =====  REACT PHONE NUMBER INPUT OVERRIDES */
  .input-phone {
    @apply w-full rounded-md py-[17px] px-4 text-base text-white bg-secondary-blue-500 border-0 appearance-none focus:outline-none focus:ring-0 !important;
  }

  .k-input {
    @apply block w-full rounded-md px-4 pb-2.5 pt-6 text-sm font-semibold text-white bg-secondary-blue-500 border-0 appearance-none hover:outline-secondary-blue-400 hover:outline focus:outline focus:outline-primary-green-700 focus:ring-0 transition-colors duration-300 ease-in-out !important;
  }

  .k-transition {
    @apply transition-colors duration-400;
  }

  .checkbox-label {
    @apply cursor-pointer text-sm font-normal text-white peer-disabled:cursor-not-allowed peer-disabled:opacity-70 md:leading-none;
  }
}

/* =====  REACT PHONE NUMBER INPUT OVERRIDES */
.PhoneInputInput {
  outline: none;
  background: transparent;
  font-size: 14px;
  height: fit-content;
  font-weight: 500;
}

.input-phone:hover {
  outline: 1px solid #53555b;
}

.input-phone:focus-within {
  outline: 1px solid #96af01;
}

/* =====  DATE_PICKER OVERRIDES */
.selected-date {
  background-color: #d3f702;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
