@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-figtree), sans-serif;
  background-color: var(--background);
  color: var(--primary-text);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer utilities {
  /* =====  SHADCN OVERRIDES */
  .shad-select-trigger {
    @apply bg-secondary-blue-500 text-white placeholder:text-white border-0 appearance-none focus:ring-0 hover:outline hover:outline-secondary-blue-400 focus:outline focus:outline-primary-green-700 transition-colors duration-300 ease-in-out !important;
  }

  .shad-select-content {
    @apply bg-secondary-blue-700 border-primary-blue-400 text-white !important;
  }

  .shad-select-item {
    @apply hover:bg-secondary-blue-600 k-transition py-2 cursor-pointer data-[state=checked]:bg-secondary-blue-600 data-[state=checked]:text-primary-green-500 !important;
  }

  .shad-otp {
    @apply w-full flex justify-between !important;
  }

  .shad-otp-slot {
    @apply justify-center flex text-base font-semibold rounded-md size-16 gap-4 text-white bg-secondary-blue-500 border-0 appearance-none 
    hover:outline-secondary-blue-400 hover:outline hover:outline-1 focus:outline focus:outline-primary-green-700 focus:ring-0 transition-colors ease-in-out !important;
  }

  /* =====  REACT PHONE NUMBER INPUT OVERRIDES */
  .input-phone {
    @apply w-full rounded-md h-14 py-[17px] px-4 text-base text-white bg-secondary-blue-500 border-0 appearance-none focus:outline-none focus:ring-0 !important;
  }

  .k-input {
    @apply w-full h-14 rounded-md text-sm font-semibold text-white bg-secondary-blue-500 border-0 appearance-none 
           hover:outline-secondary-blue-400 hover:outline hover:outline-1 
           focus:outline focus:outline-primary-green-700 focus:ring-0 
           transition-colors ease-in-out disabled:cursor-not-allowed disabled:opacity-50 resize-none overflow-hidden !important;
  }

  .k-transition {
    @apply transition-all duration-400;
  }

  .container {
    @apply max-w-[1440px] mx-auto px-8;
  }

  .checkbox-label {
    @apply cursor-pointer text-sm font-normal text-white peer-disabled:cursor-not-allowed peer-disabled:opacity-70 md:leading-none;
  }
}

/* slider style */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #606267;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
}

/* =====  REACT PHONE NUMBER INPUT OVERRIDES */
.PhoneInputInput {
  outline: none;
  background: transparent;
  font-size: 14px;
  height: fit-content;
  font-weight: 500;
}

.input-phone:hover {
  outline: 1px solid #53555b;
}

.input-phone:focus-within {
  outline: 1px solid #96af01;
}

/* =====  DATE_PICKER OVERRIDES */
.selected-date {
  background-color: #d3f702;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
